<VirtualHost *:80>
        ServerAdmin localhost@localhost.com


       ErrorLog /var/log/apache2/error.log


       # Possible values include: debug, info, notice, warn, error, crit,
        # alert, emerg.
        LogLevel warn


       CustomLog /var/log/apache2/access.log combined
        ServerSignature On



        ProxyRequests Off
        ProxyPreserveHost On



        RequestHeader set Front-End-Https "On"


       <Location /artifactory>
        ProxyPass http://10.0.2.6:8081/artifactory
        ProxyPassReverse http://10.0.2.6:8081/artifactory
        </Location>
        <Location /gitlab>
        ProxyPass http://10.0.2.5:81/gitlab
        ProxyPassReverse http://10.0.2.5:81/gitlab
        </Location>
        CacheDisable *


</VirtualHost>