<VirtualHost *:*>
ProxyPreserveHost On

    # Servers to proxy the connection, or;
    # List of application servers:
    # Usage:
    # ProxyPass / http://[IP Addr.]:[port]/
    # ProxyPassReverse / http://[IP Addr.]:[port]/
    # Example:
    ProxyPass /artifactory http://10.0.2.6:8081/
    ProxyPassReverse /artifactory http://10.0.2.6:8081/

    ServerName devops-app-001.eastus.cloudapp.azure.com
</VirtualHost>
