<VirtualHost *:80>
        ServerName devops-app-001.eastus.cloudapp.azure.com
        ProxyPreserveHost On
        ProxyRequests On
        ProxyPass / http://10.0.2.6:8081/
        ProxyPassReverse / http://10.0.2.6:8081/
</VirtualHost>