<VirtualHost *:*>
ProxyPreserveHost On

    # Servers to proxy the connection, or;
    # List of application servers:
    # Usage:
    # ProxyPass / http://[IP Addr.]:[port]/
    # ProxyPassReverse / http://[IP Addr.]:[port]/
    # Example:
    ProxyPass /gitlab http://10.0.2.5:81/
    ProxyPassReverse /gitlab http://10.0.2.5:81/

    ServerName devops-app-001.eastus.cloudapp.azure.com
</VirtualHost>