
ProxyRequests     Off
ProxyPreserveHost On
RewriteEngine On

<Proxy http://10.0.2.5:81>
Order deny,allow
Allow from all
</Proxy>

ProxyPass         /gitlab  http://10.0.2.5:81
ProxyPassReverse  /gitlab  http://10.0.2.5:81
